{% extends "base.html" %}

{% block content %}



    <form class="" action="" method="POST" id="formupdate">
        <p>Nombre Usuario</p>
        <input type="text" name="username" value="" placeholder="" id="nombreusuario">
        <p>Distribuidor</p>
        <input type="text" name="distribuidor" value="" placeholder="" id="distribuidor">
        <button type="button" id="btnmas">mas</button>
        <!--<p>Grupo de trabajo</p>
        <input type="text" name="grupotrabajo[]" value="" placeholder="" id="campogrupoprincipal">-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p id="msg_error" class="msg_error">{{message}}</p>
            {% endfor %}
        {% else %}
            <p id="msg_error" class="msg_error"></p>
        {% endif %}
        {% endwith %}
        <input type="submit" name="" value="Actualizar">
    </form>

    <a href="{{ url_for('listausuarios') }}"></a>

    <script type='text/javascript' src="{{ url_for('static', filename='js/actualizarconsulta.js') }}"></script>

{% endblock %}