{% extends "base.html" %}

{% block content %}

    <form id="forminsert" action="http://localhost:5000/insertarusuario" method="POST">
        <p>Username</p>
        <input type="text" name="username" value="" placeholder="example22">
        <p>Password</p>
        <input type="text" name="password" value="" placeholder="*****">
        <p>Distribuidor</p>
        <input type="text" name="distribuidor" value="" placeholder="">
        <button type="button" id="btnmas">mas</button>
        <button type="button" id="btnmenos">menos</button> 
        <p>Grupo de trabajo</p>
        <input id="campogrupoprincipal" type="text" name="grupotrabajo[]" value="" placeholder="grupo">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p id="msg_error" class="msg_error">{{message}}</p>
            {% endfor %}
        {% else %}
            <p id="msg_error" class="msg_error"></p>
        {% endif %}
        {% endwith %}
        <input type="submit" name="" value="Registrar">
    </form>

    <a href="{{ url_for('listausuarios') }}"></a>


    <script type='text/javascript' src="{{ url_for('static', filename='js/altausuario.js') }}"></script>
{% endblock %}