{% extends "base.html" %}

{% block content %}

<div class="container p-5">
    <form id="forminsert" method="POST">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h3">Crear Usuario</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group me-2">
                <input class="btn btn-outline-success" type="submit" value="Registrar">
                <a class="btn btn-outline-success" id="regresar" role="button">Regresar</a>
              </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="inputPassword" class=" col-form-label">Nombre usuario</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class=" col-form-label">Contraseña</label>
            <input type="text" class="form-control" name="password">
        </div>
        <button class="btn btn-success mb-3" type="button" id="btnmas">Agregar Distribuidor - Grupo de trabajo</button>
        
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p id="msg_error" class="msg_error text-danger">{{message}}</p>
            {% endfor %}
        {% else %}
            <p id="msg_error" class="msg_error text-danger"></p>
        {% endif %}
        {% endwith %}
  </form>
</div>

    <a id="return"></a>


    <script type='text/javascript' src="{{ url_for('static', filename='js/altausuario.js') }}"></script>
{% endblock %}