{% extends "base.html" %}

{% block content %}

<div class="container pt-4">
    <div class="row">
        <div class="form-group row col-sm-6">
            <label for="" class="col-sm-3 col-form-label">Buscar:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="search" name="search">
            </div>
        </div>
        <button class="btn btn-danger col-sm-2" id="btnsearch">Buscar</button>
    </div>
</div>

<div class="container pt-4">
    <div id="basegeneralForms">
        <form id="formModify" action="" method="POST">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p id="msg_error" class="msg_error text-danger">{{message}}</p>
                {% endfor %}
            {% else %}
                <p id="msg_error" class="msg_error text-danger"></p>
            {% endif %}
            {% endwith %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <input class="btn btn-primary" type="submit" value="Modificar">
                <a class="btn btn-success" href="{{ url_for('listausuarios') }}" role="button">Regresar</a>
            </div>
        </form>
    </div>
</div>
<!--<div class="container pt-4">
    <form id="formModify" action="http://localhost:5000/#" method="POST">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input class="btn btn-primary" type="submit" value="Registrar">
            <a class="btn btn-success" href="{{ url_for('listausuarios') }}" role="button">Regresar</a>
        </div>
    </form>
</div>-->

<!--<div class="container pt-4">
    <form id="formModify" action="http://localhost:5000/#" method="POST">
        <div class="mb-3">
            <label for="inputPassword" class=" col-form-label">Nombre usuario</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class=" col-form-label">Contraseña</label>
            <input type="text" class="form-control" name="password">
        </div>
        <button class="btn btn-success mb-3" type="button" id="btnmas">Agregar Distribuidor - Grupo de trabajo</button>
        
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p id="msg_error" class="msg_error text-danger">{{message}}</p>
            {% endfor %}
        {% else %}
            <p id="msg_error" class="msg_error text-danger"></p>
        {% endif %}
        {% endwith %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input class="btn btn-primary" type="submit" value="Registrar">
            <a class="btn btn-success" href="{{ url_for('listausuarios') }}" role="button">Regresar</a>
        </div>
  </form>
</div>-->
<script type='text/javascript' src="{{ url_for('static', filename='js/modificarUsuario.js') }}"></script>
{% endblock %}