{% extends "base.html" %}
{% block content %}
  <div class="container pt-4">
    <form action="{{url_for('actualizarusuario')}}" method="POST">
        <input type="hidden" name="id" value="{{usuario['id']}}">
        <div class="mb-3">
            <label for="nombre_usuario" class="col-sm-2 col-form-label">Nombre usuario</label>
            <input required type="text" class="input" name="nombre_usuario" id="nombre_usuario" value="{{usuario['nombre_usuario']}}">
        </div>
        <div class="mb-3">
            <label for="distribuidor" class="col-sm-2 col-form-label">Distribuidor</label>
            <input required type="text" class="input" name="distribuidor" id="nombre_usuario" value="{{usuario['distribuidor']}}">
        </div>
        <div class="mb-3">
            <label for="grupo_trabajo" class="col-sm-2 col-form-label">Grupo trabajo</label>
            <input required type="text" class="input" name="grupo_trabajo" id="grupo_trabajo" value="{{usuario['grupo_trabajo']}}">
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p id="msg_error" class="msg_error text-danger">{{message}}</p>
            {% endfor %}
        {% else %}
            <p id="msg_error" class="msg_error text-danger"></p>
        {% endif %}
        {% endwith %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <input class="btn btn-primary" type="submit" value="Actualizar">
            <a class="btn btn-success" href="{{ url_for('listausuarios') }}" role="button">Regresar</a>
        </div>
  </form>
</div>
{% endblock %}