{% extends "base.html" %}

{% block content %}

  <div class="base_home">
    <h1>Bienvenido {{ current_user.distribuidor }}</h1>

    <div class="base_opciones">
      <!--<a href="{{ url_for('logout') }}">Logout</a>-->
      <p>¿Que tipo de movimiento desea consultar?</p>
      <div class="base_opc">
        <a id="boton1" href="{{ url_for('abonos', distribuidor= current_user.distribuidor) }}"><i class="fas fa-barcode"></i>Abonos</a>
        <a href="{{ url_for('comision', distribuidor= current_user.distribuidor) }}"><i class="fas fa-barcode"></i>Comsion</a>
        <a href="{{ url_for('altausuario') }}"><i class="fas fa-barcode"></i>Comsion</a>
      </div>
    </div>
  </div>

{% endblock %}
